*.iml
.gradle/
.idea/
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
.cxx
local.properties

# Signing (nie committen)
*.jks
*.keystore
keystore.properties
NovelForge-release.apk
keystore.b64
